<app-header></app-header>
<div class="main main-raised">
    <div class="container">
        <div class="card card-plain">
            <div class="card-body">
                <h3 class="card-title">购物车</h3>
                <br>
                <div class="table-responsive">
                    <table class="table table-shopping">
                        <thead>
                            <tr>
                                <th class="text-center"></th>
                                <th>商品</th>
                                <th class="th-description">颜色</th>
                                <th class="th-description">大小</th>
                                <th class="text-right">价格</th>
                                <th class="text-right">数量</th>
                                <th class="text-right">总计</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- 购物车内容 -->
                            <tr>
                                <td>
                                    <div class="img-container">
                                        <img src="../../../assets/img/moto/chartlist/timg1.jpg" alt="...">
                                    </div>
                                </td>
                                <td class="td-name">
                                    <a href="#jacket">Spring Jacket</a>
                                    <br>
                                    <small>by Dolce&amp;Gabbana</small>
                                </td>
                                <td>
                                    Red
                                </td>
                                <td>
                                    M
                                </td>
                                <td class="td-number text-right">
                                    <small>￥</small>549
                                </td>
                                <td class="td-number">
                                    1
                                    <div class="btn-group btn-group-sm">
                                        <button class="btn btn-round btn-info"> <i class="material-icons">remove</i> </button>
                                        <button class="btn btn-round btn-info"> <i class="material-icons">add</i> </button>
                                    </div>
                                </td>
                                <td class="td-number">
                                    <small>￥</small>549
                                </td>
                                <td class="td-actions">
                                    <button type="button" rel="tooltip" data-placement="left" title="" class="btn btn-link" data-original-title="Remove item">
                                      <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>

                            <!-- 购物车合计部分 -->
                            <tr>
                                <td colspan="3"></td>
                                <td class="td-total">
                                    总计
                                </td>
                                <td colspan="1" class="td-price">
                                    <small>￥</small>2,346
                                </td>
                                <td colspan="1"></td>
                                <td colspan="2" class="text-right">
                                    <button type="button" class="btn btn-info btn-round">去购买
                                      <i class="material-icons">keyboard_arrow_right</i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>