<app-header></app-header>
<div class="main main-raised">
    <div class="container">
        <div class="card card-plain">
            <div class="card-body">
                <h3 class="card-title">购物车</h3>
                <br>
                <div class="table-responsive">
                    <table class="table table-shopping">
                        <thead>
                            <tr>
                                <th class="text-center"></th>
                                <th>商品</th>
                                <th class="th-description">颜色</th>
                                <th class="th-description">排量</th>
                                <th class="text-right">价格</th>
                                <th class="text-right">数量</th>
                                <th class="text-right">删除</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of cartItems">
                            <!-- 购物车内容 -->
                            <tr>
                                <td>
                                    <div class="img-container">
                                        <img src="{{item.image}}">
                                    </div>
                                </td>
                                <td class="td-name">
                                    <a href="#jacket">{{item.label}}</a>
                                    <br>
                                </td>
                                <td>
                                    {{item.color}}
                                </td>
                                <td>
                                    {{item.output}}CC
                                </td>
                                <td class="td-number text-right">
                                    <small>￥</small>{{item.afterDiscount}}
                                </td>
                                <td class="td-number">
                                    <select [ngModel]="getQuantity(item.productId)" (change)="handleQuantityChange($event,item.productId)">
                                        <option *ngFor="let option of getQuantityList(item.productId)" [value]="option"> {{option}} </option>
                                    </select>
                                </td>
                                <td class="td-action text-right">
                                    <button (click)="handleRemoveItem(item.productId)" mat-button color="primary">删除</button>
                                </td>
                            </tr>

                            <!-- 购物车合计部分 -->
                            <tr>
                                <td colspan="3"></td>
                                <td class="td-total">
                                    总计
                                </td>
                                <td colspan="1" class="td-price">
                                    <small>￥</small>{{totalPrice}}
                                </td>
                                <td colspan="1"></td>
                                <td colspan="2" class="text-right">
                                    <button (click)="handleBuyNow()" class="btn btn-info btn-round">去购买
                                      <i class="material-icons">keyboard_arrow_right</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>