<h2 class="section-title">走近 哈雷·戴维森</h2>
<div class="row">
    <div class="col-md-4">
        <div class="card card-background" style="background-image: url(../assets/img/examples/color1.jpg)">
            <div class="card-body">
                <h6 class="card-category text-info">A</h6>
                <a href="#pablo">
                    <h3 class="card-title">品牌象征</h3>
                </a>
                <p class="card-description">
                    1903年，威廉·哈雷和戴维森两兄弟在美国密尔沃基创立了著名的哈雷戴维森品牌。 一个多世纪以来，作为世界顶级休闲摩托车品牌，他们狂热地忠诚于 V 型双缸驱动的摩托车以及经典的橙色条盾形徽标。 自从1903年哈雷戴维森的传奇开始以来，它已成为激情、自由、勇敢、个性的象征。 哈雷戴维森摩托、部件与配件、服饰和多样化产品深受全球消费者青睐。
                </p>
                <a href="#pablo" class="btn btn-white btn-round">
                    <i class="material-icons">subject</i> 更多
                </a>
            </div>
        </div>
        <!-- end card -->
    </div>
    <div class="col-md-4">
        <div class="card card-background" style="background-image: url(../assets/img/examples/color3.jpg)">
            <div class="card-body">
                <h6 class="card-category text-info">B</h6>
                <h3 class="card-title">品牌精神</h3>
                <p class="card-description">
                    哈雷戴维森不仅仅是摩托车，而是一种代表了自由、个性，的独特生活方式。哈雷摩托车并不是生活必需品，也不是日常的代步工具。事实上，哈雷戴维森正在将世界领先的摩托车运动休闲生活方式引进中国并将摩托车运动重新定义并发展为一种充满乐趣、激动人心、享有盛誉的休闲活动。
                </p>
                <a href="#pablo" class="btn btn-white btn-round">
                    <i class="material-icons">subject</i> 更多
                </a>
            </div>
        </div>
        <!-- end card -->
    </div>
    <div class="col-md-4">
        <div class="card card-background" style="background-image: url(../assets/img/examples/color2.jpg)">
            <div class="card-body">
                <h6 class="card-category text-info">C</h6>
                <a href="#pablo">
                    <h3 class="card-title">品牌魅力</h3>
                </a>
                <p class="card-description">
                    从俄罗斯总统普京到中国明星李亚鹏、杨坤，他们都是忠实而狂热的哈雷车迷。全球功成名就、富有活力的哈雷戴维森车迷组成了一个大家庭。他们热爱休闲和冒险精神，对哈雷戴维森的产品和骑行体验充满激情。尽管有些哈雷车迷看起来颇为标新立异，但是他们大多和我们别无二样。这些车迷当中既有医生、律师、顾问、会计师。
                </p>
                <a href="#pablo" class="btn btn-white btn-round">
                    <i class="material-icons">subject</i> 更多
                </a>
            </div>
        </div>
        <!-- end card -->
    </div>
    <div class="col-md-6">
        <div class="card card-background" style="background-image: url(../assets/img/dg3.jpg)">
            <div class="card-body">
                <h6 class="card-category text-info">D</h6>
                <a href="#pablo">
                    <h3 class="card-title">品牌历史</h3>
                </a>
                <p class="card-description">
                    1903年，威廉·哈雷和戴维森两兄弟在密尔沃基创建了著名的哈雷戴维森机车公司，100多年来，它经历了战争、经济衰退、国外竞争以及市场变幻的重重洗礼，但它经受住了所有考验。今天，哈雷戴维森公司比以往任何时候都更加强大，而且，它并没有因此而放慢发展的步伐。一个世纪以来，哈雷戴维森一直是自由大道、原始动力和美好时光的代名词。
                </p>
                <a href="#pablo" class="btn btn-white btn-round">
                    <i class="material-icons">subject</i> 更多
                </a>
            </div>
        </div>
        <!-- end card -->
    </div>
    <div class="col-md-6">
        <div class="card card-background" style="background-image: url(../assets/img/dg1.jpg)">
            <div class="card-body">
                <h6 class="card-category text-info">E</h6>
                <a href="#pablo">
                    <h3 class="card-title">品牌事记</h3>
                </a>
                <p class="card-description">
                    1901年:在美国的威斯康星州密尔沃基，21岁的威廉·哈雷和20岁的亚瑟·戴维森开始尝试设计并改装自行车及安装动力装置。之后不久，亚瑟的兄弟怀特和威廉也加入了他们的行列。1903年:在发动机经过许多次不断改动设计后，直到制造出的弧型组合管式车架被定稿，他们才决定着手开始制造。1903年共制造了3辆第一款哈雷-戴维森摩托车。
                </p>
                <a href="#pablo" class="btn btn-white btn-round">
                    <i class="material-icons">subject</i> 更多
                </a>
            </div>
        </div>
        <!-- end card -->
    </div>
</div>