<div class="page-header error-page header-filter header-small" style="background-image: url('../assets/img/moto/timg404.jpg')">
  <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title">404</h1>
        <h2 class="description">Page not found :(</h2>
        <h4 class="description">Ooooups! Looks like you got lost.</h4>
      </div>
    </div>
  </div>
</div>