<footer class="footer">
    <div class="container">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        联系我们
                    </a>
                </li>
                <li>
                    <a href="https://creative-tim.com/presentation">
                       关于我们
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        了解更多
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        官方微博
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            ©
            <script>
                document.write(new Date().getFullYear())
            </script>2019<i class="material-icons">favorite</i>ly.

        </div>
    </div>
</footer>